.backgroundLogin {
    padding: 0px;
    height: 106vh;
    background: no-repeat center url("../assets/login.svg");
    background-size: cover;
  }
  
  

  .form {
    padding: 0px;
    margin: auto;
    .btn_form {
      text-align: center;
    }
    .col {
      padding: 0px;
    }
  }